<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
								http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Archetype Created Web Application</display-name>

	<!-- context-param: 전체 애플리케이션의 루트 컨텍스트 설정 init-param: DispatcherServlet의 
		웹 컨텍스트 설정 -->
	<!-- 데이터베이스 설정, 보안 설정 등은 root-context.xml에 웹 관련 설정(뷰 리졸버, 인터셉터 등)은 servlet-context.xml에 
		분리하여 효율적 관리 가능 -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml,/WEB-INF/spring/security-context.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring MVC의 DispatcherServlet을 등록하고 모든 웹 요청(/)을 이 서블릿으로 처리하도록 설정 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<!-- web.xml 파일에서 <init-param> 태그는 서블릿(Servlet) 또는 필터(Filter)에 특정 초기화 매개변수 
			값을 전달하기 위해 사용. 서블릿이나 필터가 실행될 때 설정되어 동작을 맞춤화하는 데 사용. 개발자는 코드와 설정을 분리하여 설정 
			값을 쉽게 변경하거나 관리할 수 있음. -->
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 객체 생성 + 매핑 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- HiddenHttpMethodFilter 필터 설정하기 -->
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>appServlet</servlet-name>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
</web-app>
